@value box-shadow from "./../_variables.css";
@value color-light, color-dark, color-primary, color-secondary, color-shade-darker, color-box-shadow-active from "./../_variables.css";
@value bp-md, bp-lg from "./../_variables.css";

.content {
  display: grid;
}
.categoryItem {
  grid-row: 1;
  grid-column: 1;
  height: 0;
  opacity: 0;
  transition: opacity 300ms ease-in;
}
.categoryItem.active {
  height: unset;
  opacity: 1;
  position: relative;
  z-index: 10;
}
.heading {
  composes: textHeading3 from "./../_shared.module.css";
  margin-bottom: 10px;
}
.carouselItem {
  margin: 3px;
}

@media bp-md {
  .carouselItem {
    height: 400px;
  }
  .content {
    display: none;
  }
}