@value box-shadow from "./../_variables.css";
@value color-light, color-dark, color-primary, color-secondary, color-shade-darker, color-box-shadow-active from "./../_variables.css";
@value bp-md, bp-lg from "./../_variables.css";

.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr auto) 1fr;
  justify-items: center;
  align-items: center;
}

.link {
  transition: color 200ms ease-out;
}
.link .icon,
.link:visited .icon {
  color: color-light;
}
.link:hover .icon,
.link:active .icon {
  color: color-secondary;
}
.link:hover .svgIcon,
.link:active .svgIcon {
  fill: color-secondary;
}
.link.active .icon {
  color: color-primary;
}
.link.active .svgIcon {
  fill: color-primary;
}
.icon {
  font-size: 28px;
  transition: color 200ms ease-out;
}
.linkText {
  composes: textBody from "./../_shared.module.css";
  display: none;
}
.svgIcon {
  width: 28px;
  height: 28px;
  fill: color-light;
  transition: fill 200ms ease-out;
  display: grid;
  align-items: center;
}

.separator {
  width: 2px;
  height: 100%;
  background: color-light;
}

@media bp-md {
  .menu {
    display: grid;
    grid-template-columns: unset;
    justify-items: flex-start;
    align-items: unset;
  }
  .icon,
  .separator {
    display: none;
  }
  .link {
    padding: 8px 10px;
  }
  .link:hover,
  .link:active {
    color: color-secondary;
  }
  .link.active {
    color: color-primary;
  }
  .linkText {
    text-transform: uppercase;
    display: inline-block;
  }
}