@value color-primary, color-secondary from "../_variables.css";
@value corner-rounding, spacing-sm, spacing-md from "../_variables.css";
@value bp-md, bp-lg from "../_variables.css";

.card {
  composes: themeLight from "../_shared.module.css";
  composes: textBody from "../_shared.module.css";
  padding: spacing-sm;
  border-radius: corner-rounding;
  display: grid;
  row-gap: 10px;
}

.icon {
  color: color-primary;
}
.icon,
.svgIcon {
  font-size: 24px;
}
.svgIcon {
  width: 24px;
  height: 24px;
  fill: color-primary;
}
.heading {
  composes: textHeading3 from "../_shared.module.css";
}
.body {
  line-height: 1.5;
}
.link {
  justify-self: flex-start;
  margin-top: 10px;
  font-weight: bold;
  transition: color 200ms ease-out;
  display: inline-flex;
  align-items: center;
}
.link,
.link:visited {
  color: color-secondary;
}
.link:hover,
.link:active {
  color: color-primary;
  text-decoration: underline;
}
.linkIcon {
  margin-left: 0.5rem;
}

@media bp-md {
  .card {
    grid-template-rows: auto auto 1fr auto;
  }
}

@media bp-lg {
  .card {
    padding: spacing-md;
    row-gap: 15px;
  }
  .icon,
  .svgIcon {
    font-size: 30px;
  }
  .svgIcon {
    width: 30px;
    height: 30px;
    fill: color-primary;
  }
}