.modal-group {
  --scrollbar-width: 0px;
  --modal-group-smoke-color: rgba(0, 0, 0, 0.8);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
  overflow-x: hidden;
  margin-right: var(--scrollbar-width);
  background: var(--modal-group-smoke-color);
  
  opacity: 0;
  z-index: -10000;
  transition: opacity 500ms, z-index 501ms;

  & .modal-item {
    --modal-item-max-width: 90%;
    --modal-item-max-height: 90%;
    --modal-item-width: max(250px, var(--modal-item-max-width));
    --modal-item-height: max(250px, var(--modal-item-max-height));
    --modal-item-margin: 20px 10px;
    --modal-item-padding: 30px 10px;
    --modal-item-border-radius: 10px;
    
    margin: var(--modal-item-margin);
    padding: var(--modal-item-padding);
    border-radius: var(--modal-item-border-radius);
    background: var(--modal-item-background);
    display: none;
    
    transform: scale(1.2);
    opacity: 0;
    transition: transform 500ms, opacity 501ms, display 0ms;
  }
}


body[data-modal-status="open"] {
  overflow: hidden;

  & .modal-group {
    opacity: 1;
    z-index: 10000;
    transition: opacity 500ms, z-index 0ms;

    & .modal-item[data-modal-status="open"] {
      /* transition: transform 500ms, opacity 0ms;
      transform: none;
      opacity: 1; */
      display: grid;
      align-content: center;
      justify-items: center;
      transition: transform 500ms, opacity 501ms;
      
      transform: none;
      opacity: 1;
    }
  }
}
body[data-modal-status="close"] {
  overflow: auto;

  & .modal-group {
    opacity: 0;
    z-index: -10000;
    pointer-events: none;
    transition: opacity 500ms, z-index 501ms, display 0ms;

    & .modal-item[data-modal-status="close"] {
      transform: scale(1.2);
      opacity: 0;
      transition: transform 500ms, opacity 501ms;
      pointer-events: none;
    }
  }
}
