/* box model */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}


/* CSS variables */
:root {
  --color-dark: #00020C;
  --color-white: #FFFFFF;
  --color-primary: #D43737;
  --color-secondary: #FFAEAE;

  --rgb-shade: 0, 0, 0;
  --header-height: 60px;
  --max-content-width: 1200px;
  --item-container-border-radius: 10px;
  --button-border: 3px solid var(--color-primary);
}


/* override default styles */
a,
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:active {
  color: var(--color-primary);
}
ul {
  list-style: none;
}
img {
  object-fit: cover;
  object-position: center;
}

h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.5rem;
}


/* max content width */
.container {
  max-width: var(--max-content-width);
  width: 100%;
  padding: 0 20px;
}

/* button */
.btn {
  padding: 5px 30px 5px 40px;
  border: var(--button-border);
  border-radius: 26px;
  background: var(--color-primary);
  color: var(--color-white);
  font-size: 1.1rem;
  transition: background 200ms, color 200ms, transform 100ms;

  &:hover {
    background: transparent;
    color: var(--color-primary);
  }
  &:active {
    transform: scale(0.975);
  }

  & .fa-angle-right {
    margin-left: 5px;
  }
}

/* shade */
.shade {
  background: rgba(var(--rgb-shade), 0.6);
}


body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: sans-serif;
}

header,
footer {
  background-color: var(--color-white);
  color: var(--color-dark);

  & > .container {
    margin: 0 auto;
  }
}

/* site header */
header {
  & > .container {
    height: var(--header-height);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-content: center;
    text-transform: uppercase;
  
    & ul {
      display: flex;

      & li {
        display: grid;
        place-items: center;
      }
    }

    & a {
      transition: color 200ms;
    }

    & .site-links {
      justify-content: center;
      font-size: max(12px, 0.9rem);
      font-weight: bold;
      gap: 30px;
    }

    & .social-links {
      font-size: 20px;
      gap: 20px
    }
  }
}

/* site content */
main.home {
  color: var(--color-white);

  & > section {
    background: var(--color-dark);
  }

  & section.spotlight {
    height: clamp(700px, 80vh, 900px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & > * {
      grid-row: 1;
    }

    & .spotlight-image {
      grid-column: 1 / -1;
      width: 100%;
      height: inherit;
    }

    & .shade {
      grid-column: 1;
      display: grid;
      align-items: center;

      & .spotlight-text {
        justify-self: flex-end;
        max-width: calc(var(--max-content-width) / 2);
        width: 100%;
        border-left: 2px solid var(--color-white);
        padding: 55px 0 50px 30px;
        display: grid;
        justify-items: flex-start;
        gap: 40px;

        & h2 {
          max-width: 450px;
          font-weight: bold;
          letter-spacing: 1px;
          line-height: 1.5;
        }
      }
    }
  }

  & section.about {
    padding: 250px 0 200px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);

    & > img {
      height: 600px;
      width: 100%;
    }

    & .section-text {
      margin-left: 100px;
      max-width: calc(var(--max-content-width) / 2);
      display: grid;
      justify-items: flex-start;
      align-content: center;
      row-gap: 20px;

      & p {
        line-height: 1.5;
      }

      & h3 {
        margin-top: 20px;
      }

      & .btn {
        margin-top: 10px;
      }
    }
  }

  & section.equipment {
    padding: 70px 0;
    display: grid;
    background: var(--color-white);
    color: var(--color-dark);

    & .container {
      justify-self: center;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      
      & > h2 {
        flex: 0 0 100%;
        margin-bottom: 50px;
      }

      & .equipment-item {
        display: grid;

        &:hover {
          & .equipment-text {
            box-shadow: 0 3px 10px rgba(var(--rgb-shade), 0.3);
            
            & a {
              transform: translateX(3px);
            }
          }
        }

        & .equipment-text {
          width: 220px;
          margin: 5px;
          padding: 15px 10px 15px 20px;
          border-radius: var(--item-container-border-radius);
          display: grid;
          grid-template-rows: auto 1fr;
          row-gap: 5px;
          column-gap: 10px; 
          box-shadow: 0 3px 10px rgba(var(--rgb-shade), 0.075);
          transition: box-shadow 200ms; 

          & h3 {
            font-size: 1.25rem;
            font-weight: normal;
          }

          & span {
            font-size: 0.70rem;
          }

          & a {
            grid-row: 1 / 3;
            grid-column: 2;
            display: grid;
            place-items: center;
            color: var(--color-primary);
            transition: transform 200ms;
          }
        }
      }
    }
  }

  & section.services {
    padding: 60px 0 100px;
    display: grid;

    & > .container {
      justify-self: center;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      row-gap: 30px;
      column-gap: 60px;

      & h2 {
        grid-column: 1 / -1;
      }

      & .service-item {
        border-radius: var(--item-container-border-radius);
        background: blue;
        height: 580px;
        display: grid;

        &:hover {
          color: inherit;

          & .service-item-text {
            background: rgba(var(--rgb-shade), 0.6);

            & > .fas {
              background: transparent;
              color: var(--color-primary);
            }
          }
        }

        & img {
          border-radius: inherit;
          height: 100%;
          width: 100%;
        }

        & .service-item-text {
          display: grid;
          justify-items: center;
          justify-content: center;
          align-content: center;
          text-align: center;
          transition: background 250ms;

          & h3 {
            letter-spacing: 1px;
          }

          & span {
            margin-top: 15px;
            max-width: 200px;
            display: inline-flex;
            font-size: 1.1rem;
            line-height: 1.5;
            letter-spacing: 2px;
          }

          & .fas {
            border: var(--button-border);
            border-radius: 100%;
            background: var(--color-primary);
            display: inline-grid;
            place-items: center;
            width: 35px;
            height: 35px;
            transition: background 200ms, color 200ms;
          }
        }

        & > * {
          grid-row: 1;
          grid-column: 1;
        }
        &:nth-of-type(1) {
          grid-column: 1 / 4;
        }
        &:nth-of-type(2) {
          grid-column: 4 / 7;
        }
        &:nth-of-type(3) {
          grid-column: 1 / 3;
        }
        &:nth-of-type(4) {
          grid-column: 3 / 5;
        }
        &:nth-of-type(5) {
          grid-column: 5 / 7;
        }
        &:nth-of-type(n+1):nth-of-type(-n+2) > .service-item-text {
          /* icon size + column gap */
          margin-right: -55px;  
          column-gap: 20px;

          & > .fas {
            grid-row: 1 / 3;
            grid-column: 2;
            align-self: center;
          }
        }
        &:nth-of-type(n+3):nth-of-type(-n+5) {
          grid-row: 3;
          height: 340px;

          & .service-item-text > .fas {
            margin-top: 10px;
          }
        }
      }
    }
  }

  & section.highlights {
    margin: 50px 0;
    padding: 70px 0 90px;
    display: grid;

    & > .container {
      justify-self: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 40px;
      column-gap: 50px;

      & h2 {
        grid-column: 1 / -1;
      }

      & .highlight-item {
        cursor: pointer;
        border-radius: var(--item-container-border-radius);
        display: grid;
        justify-content: center;
        align-content: center;

        &:hover {
          & .overlay {
            background: rgba(var(--rgb-shade), 0.6);

            & > .fas {
              background: transparent;
              color: var(--color-primary);
            }
          }
        }

        & > * {
          grid-row: 1;
          grid-column: 1;
        }

        & img {
          border-radius: inherit;
          height: 280px;
          width: 100%;
        }

        & .overlay {
          display: grid;
          place-items: center;
          transition: background 250ms;

          & .fas {
            border: var(--button-border);
            border-radius: 100%;
            background: var(--color-primary);
            display: inline-grid;
            place-items: center;
            width: 40px;
            height: 40px;
            transition: background 200ms, color 200ms;
          }
        }
        
      }
    }
  }
}