@value bp-lg from "./../_variables.css";

.partners {
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  column-gap: 15px;
}
.partnerLogo {
  width: 100%;
  height: 30px;
}
.partnerLogo4 {
  composes: partnerLogo;
  height: 40px;
}
@media bp-lg {
  .portfolioCustomers {
    grid-template-columns: repeat(5, 1fr);
  }
  .partnerLogo {
    height: 40px;
  }
  .partnerLogo4 {
    height: 60px;
  }
}