@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

img {
  object-fit: contain;
  object-position: center;
}



/* react-modal override */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  align-items: center;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  z-index: 1000;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}

/* react-bootstrap override */
.accordion,
.accordion .accordion-item,
.accordion-header,
.accordion-header button.accordion-button {
  background: unset;
  background-color: unset;
  color: unset;
}
.accordion-header button.accordion-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-header button.accordion-button::after {
  content: none;
}
.accordion-header button.accordion-button:focus {
  box-shadow: unset;
}
.accordion-item .accordion-body {
  padding: unset;
}

.accordion-header button.accordion-button svg {
  transform: rotate(-180deg);
  transition: transform 200ms;
}
.accordion-header button.accordion-button.collapsed svg {
  transform: rotate(0)
}