@value color-dark, color-light, color-primary from "./_variables.css";
@value spacing-sm, spacing-lg from "./_variables.css";
@value bp-md, bp-lg from "./_variables.css";
@value line-spacing: 10px;

.appFooter {
  composes: themeLight from "./_shared.module.css";
  padding: 15px spacing-sm;
  font-size: 0.65rem;
  text-align: center;
  display: grid;
  justify-items: center;
  row-gap: line-spacing;
}

.contactSection {
  display: none;
}

.mediaSection {
  display: grid;
  row-gap: line-spacing;
}

.creditSection {
  display: grid;
  row-gap: 5px;
}

.mediaBlurb {
  font-size: 0.7rem;
  letter-spacing: 0.5px;
}

.externalLinks {
  display: flex;
  align-items: center;
  gap: 15px;
}
.icon {
  width: auto !important;
  height: 16px;
}
.appFooter a {
  transition: color 200ms ease-out;
}
.appFooter a:hover,
.appFooter a:active {
  color: color-primary;
}

@media bp-md {
  .contactSection {
    display: grid;
  }
}

