@value color-dark, color-light, color-secondary, color-modal-overlay, content-padding from "./_variables.css";

.appFooter {
  composes: themeLight from "./_shared.module.css";
  padding: 15px content-padding;
  font-size: 0.65rem;
  text-align: center;
  display: grid;
  justify-items: center;
  row-gap: 8px;
}

.blurb {
  font-size: 0.7rem;
  letter-spacing: 0.5px;
}

.externalLinks {
  display: flex;
  align-items: center;
  gap: 15px;
}
.icon {
  width: auto !important;
  height: 16px;
}