@value header-height-sm, header-height-lg from "./_variables.css";
@value bp-md, bp-lg, bp-xl from "./_variables.css";

.banner {
  composes: captionedMedia from "./_shared.module.css";
  height: 240px;
}
.fullHeight {
  height: clamp(300px, calc(90vh - header-height-sm), 900px);
}
@media bp-md {
  .banner {
    /* height: 500px; */
    height: clamp(400px, calc(80vh - header-height-sm), 500px);
  }
  .contentHalf {
    grid-template-columns: repeat(2, 1fr);
  }
  .contentHalf .background {
    grid-column: 1 / 3;
  }
}
@media bp-lg {
  .banner,
  .fullHeight {
    height: clamp(500px, calc(85vh - header-height-lg), 600px);
  }
}
@media bp-xl {
  .banner,
  .fullHeight {
    height: clamp(500px, calc(85vh - header-height-lg), 700px);
  }
}