@value color-button, color-button-faded from "./_variables.css";
@value bp-md from "./_variables.css";

.carousel {
  display: grid;
  grid-template-columns: auto 1fr auto;
  row-gap: 10px;
  column-gap: 5px;
}
.noArrows {
  grid-template-columns: unset;
}

.arrowsMd {
  grid-template-columns: unset;
}
.arrowsMd .button {
  display: none;
}
@media bp-md {
  .arrowsMd {
    grid-template-columns: auto 1fr auto;
  }
  .arrowsMd .button {
    display: block;
  }
}

.button {
  padding: 5px;
  border: none;
  background: none;
  font-size: 28px;
  color: color-button-faded;
  transition: color 200ms ease-in-out, transform 200ms ease-out;
  cursor: pointer;
}
.button:hover,
.button:active {
  color: color-button;
}
.button:active {
  transform: scale(0.90);
}

.inactiveButton {
  composes: button;
  color: transparent;
}
.inactiveButton:active {
  color: transparent;
}

.dotList {
  grid-column: 1 / -1;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.dotList button {
  border: none;
  border-radius: 100%;
  background: color-button-faded;
  width: 10px;
  height: 10px;
  font-size: 0;
  line-height: 0;
  transition: background 200ms ease-in-out;
  cursor: pointer;
}
.dotList li:global(.slick-active) button {
  background: color-button;
}