@value color-primary, color-button, color-shade, color-box-shadow, color-box-shadow-active from "./_variables.css";
@value corner-rounding, box-shadow, spacing-sm from "./_variables.css";
@value bp-md, bp-lg from "./_variables.css";

.drone {
  display: grid;
  grid-template-rows: 250px auto;
}

.heading {
}

.actionCard {
  composes: actionCard from "./_shared.module.css";
  justify-self: center;
  margin-bottom: 16px;
  padding: 10px 5px 10px 15px;
  width: 80%;
  letter-spacing: 0.5px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  row-gap: 10px;
  column-gap: 10px;
}
.actionCard:hover .icon,
.actionCard:active .icon {
  margin-right: 0;
  margin-left: 5px;
}
.actionHeading {
  composes: textTitle from "./_shared.module.css";
  font-weight: normal;
}
.subtitle {
  composes: textSubtitle from "./_shared.module.css";
}
.icon {
  align-self: center;
  grid-row: 1 / 3;
  grid-column: 2;
  margin-right: 5px;
  font-size: 25px;
  color: color-button;
  transition: margin 200ms ease-out;
}

.longLayout {
  row-gap: spacing-sm;
}
.textCard {
  composes: heavyCard from "./_shared.module.css";
  margin: 10px;
  padding: 15px;
  display: grid;
  row-gap: spacing-sm;
}
.textHeading{
  composes: textHeading3 from "./_shared.module.css";
  color: color-primary;
  letter-spacing: 1px;
  text-align: center;
}
.body {
  composes: textBody from "./_shared.module.css";
  letter-spacing: 0.5px;
}


@media bp-md {
  .textCard {
    margin: spacing-sm;
    padding: spacing-sm;
  }
}
@media bp-lg {
  .drone.longLayout {
    grid-template-rows: unset;
    grid-template-columns: 3fr 2fr;
    align-items: center;
  }
  .drone {
    grid-template-rows: 220px auto;
  }
  .droneImage {
    padding: spacing-sm;
  }
  .actionCard {
    width: 95%;
    row-gap: 5px;
  }
}