@value color-dark, color-light, color-primary, color-secondary, color-shade, color-shade-darker, color-button, header-height, content-padding, font-primary from "./_variables.css";

.heading2 {
  composes: textHeading2 from "./_shared.module.css";
}
.heading3 {
  composes: textHeading3 from "./_shared.module.css";
}
.bodyText {
  composes: textBody from "./_shared.module.css";
}

.carousel {
  composes: carousel from "./Carousel.module.css";
}

.sectionSeparatorLight {
  height: content-padding;
  background: color-light;
}

.mainBanner {
  composes: captionedMedia from "./_shared.module.css";
  height: clamp(300px, calc(90vh - header-height), 900px);
}

.mainBannerContext {
  composes: textTitle from "./_shared.module.css";
  padding: content-padding;
  background: color-shade;
  font-size: 2rem;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
  display: grid;
  justify-items: flex-start;
  align-content: center;
  row-gap: 20px;
}

.sectionPortfolio {
  composes: container from "./_shared.module.css";
  padding: calc(content-padding * 2) 0;
}
.portfolioHeader {
  composes: captionedMedia from "./_shared.module.css";
  margin-bottom: content-padding;
  height: 170px;
}
.sectionPortfolio .heading2 {
  background: color-shade;
  display: grid;
  place-items: center;
  text-align: center;
}

.portfolioText {
  padding: 10px content-padding 0;
  display: grid;
  row-gap: content-padding;
}
.portfolioText .bodyText {
  letter-spacing: 0.5px;
}

.portfolioText .heading3 {
  margin-top: 10px;
}
.portfolioCustomers {
  margin: -10px 0 10px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  column-gap: 15px;
}
.portfolioLogo {
  width: 100%;
  height: 30px;
}
.portfolioLogo4 {
  composes: portfolioLogo;
  height: 40px;
}


.sectionEquipment {
  composes: themeLight from "./_shared.module.css";
  padding: calc(content-padding * 2) 0;
  display: grid;
  justify-items: center;
  row-gap: calc(content-padding * 2);
}
.sectionEquipment .heading2 {
  text-align: center;
}
.sectionEquipment .carousel {
  padding: 0 content-padding;
}



.sectionServices {
  composes: themeDark from "./_shared.module.css";
  padding: calc(content-padding * 2) 0;
}
.sectionServices .heading2 {
  margin-bottom: content-padding;
  text-align: center;
  line-height: 1.5;
}
.accordionIcon {
  padding: 5px;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  background: color-button;
}
.sectionServices button {
  padding: 10px content-padding;
}
.accordionBody {
  composes: textSubtitle from "./_shared.module.css";
  display: grid;
  row-gap: 5px;
}
.accordionBody > :not(img):not(source):not(picture) {
  margin: 0 content-padding;
}
.accordionLink,
.accordionLink:visited {
  font-weight: bold;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  transition: color 200ms ease-out;
}
.accordionLink,
.accordionLink:visited {
  justify-self: flex-start;
  color: color-secondary;
}
.accordionLink:hover,
.accordionLink:active {
  color: color-primary;
}
.accordionLinkIcon {
  height: 0.8rem;
  width: auto;
  margin-left: 5px;
}
.accordionImage {
  margin: 15px 0;
}


.sectionHighlights {
  padding: content-padding;
  text-align: center;
}
.sectionHighlights .carousel {
  margin: content-padding 0;
}


.sectionContact {
  padding: calc(content-padding * 4) 0 content-padding;
}
.contactText {
  composes: captionedMedia from "./_shared.module.css";

}
.contactText div {
  padding: 100px content-padding;
  background: color-shade-darker;
  display: grid;
  align-content: center;
  align-items: center;
  row-gap: content-padding;
}
.contactText .heading3 {
  display: grid;
}
.form {
  padding: calc(content-padding * 2) content-padding calc(content-padding * 3);
}