@value color-dark, color-light, color-primary, color-secondary, color-shade, header-height, content-padding, font-primary from "./_variables.css";

.heading2 {
  composes: textHeading2 from "./_shared.module.css";
}
.heading3 {
  composes: textHeading3 from "./_shared.module.css";
}

.mainBanner {
  composes: captionedMedia from "./_shared.module.css";
  height: clamp(300px, calc(90vh - header-height), 900px);
}

.mainBannerContext {
  composes: textTitle from "./_shared.module.css";
  padding: content-padding;
  background: color-shade;
  font-size: 2rem;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
  display: grid;
  justify-items: flex-start;
  align-content: center;
  row-gap: 20px;
}

.sectionPortfolio {
  composes: container from "./_shared.module.css";
  padding: calc(content-padding * 2) 0;
}
.portfolioHeader {
  composes: captionedMedia from "./_shared.module.css";
  margin-bottom: content-padding;
  height: 170px;
}
.sectionPortfolio .heading2 {
  background: color-shade;
  display: grid;
  place-items: center;
  text-align: center;
}

.portfolioText {
  padding: 10px content-padding 0;
  display: grid;
  row-gap: content-padding;
}
.portfolioText p {
  letter-spacing: 0.5px;
}

.portfolioText .heading3 {
  margin-top: 10px;
}
.portfolioCustomers {
  margin-top: -10px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
}
.portfolioCustomers img {
  width: 50px;
  height: 50px;
}

.sectionEquipment {
  composes: themeLight from "./_shared.module.css";
  padding: calc(content-padding * 2) 0 calc(content-padding * 3);
  display: grid;
  justify-items: center;
  row-gap: calc(content-padding * 2);
}
.sectionEquipment .heading2 {
  text-align: center;
}
.carousel {
  composes: carousel from "./Carousel.module.css";
  padding: 0 content-padding;
}



.sectionServices {
  composes: themeDark from "./_shared.module.css";
  padding: calc(content-padding * 2) 0;
}
.sectionServices .heading2 {
  margin-bottom: content-padding;
  text-align: center;
  line-height: 1.5;
}
.accordionIcon {
  padding: 5px;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  background: color-primary;
}
.sectionServices button {
  padding: 10px content-padding;
}
.accordionBody {
  font-size: 0.8rem;
  display: grid;
  row-gap: 5px;
}
.accordionBody > :not(img):not(source):not(picture) {
  margin: 0 content-padding;
}
.accordionLink,
.accordionLink:visited {
  font-weight: bold;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
.accordionLink,
.accordionLink:visited {
  color: color-secondary;
}
.accordionLinkIcon {
  height: 0.8rem;
  width: auto;
  margin-left: 5px;
}
.accordionImage {
  composes: image from "./Image.module.css";
  padding: 15px 0;
}

