@value color-dark, color-light, color-primary, color-modal-overlay, content-padding from "./_variables.css";

.overlay {
  padding: content-padding 0;
  background: color-modal-overlay;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;
  align-items: center;
}

.modal {
  background: color-light;
}
