@value color-dark, color-light, color-primary, color-modal-overlay, content-padding, modal-z-elevation from "./_variables.css";

.overlay {
  padding: content-padding 0;
  background: color-modal-overlay;
}

.modal {
  background: color-light;
  text-align: center;
}
