@font-face {
  font-family: 'Poppins Extra Light';
  src: url('../fonts/poppins-extralight-webfont.woff2') format('woff2'),
       url('../fonts/poppins-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
       url('../fonts/poppins-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --blurred-edge-background-gradient: rgba(23,23,23,1) 0%, rgba(0,0,0,1) 1%, rgba(255,255,255,0) 2%;
  --blurred-edge-background: linear-gradient(180deg, var(--blurred-edge-background-gradient)),
  linear-gradient(270deg, var(--blurred-edge-background-gradient)),
  linear-gradient(0deg, var(--blurred-edge-background-gradient)),
  linear-gradient(90deg, var(--blurred-edge-background-gradient));
}


*, *::before, *::after {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

body {
  background: black;
  color: white;
  font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.25;
  letter-spacing: 1px;
}
p, span, a {
  font-family: 'Roboto', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

section {
  min-height: 100vh;
  background: black;
}

h1, h2 {
  font-size: 2rem;
}


.landing {
  background: center / cover no-repeat url('../img/bg-landing.jpg');
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.title {
  display: grid;
  align-content: center;
  justify-items: center;
  /* background: transparent url(../img/bg-blur.svg) 0% 0%  no-repeat padding-box; */
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  text-align: center;
  padding: 0 50px;
}
.title .nav-next {
  margin-top: 50px;
}
.nav-next svg {
  transition: all ease-in-out 0.25s;
  stroke: white;
  width: 35px;
}
.nav-next:hover svg,
.nav-next:active svg {
  fill: #A13A6D;
  stroke: #A13A6D;
}
.title span {
  margin-top: 15px;
  margin-bottom: 25px;
}

.btn {
  background: #84BADB;
  color: #00020C;
  font-weight: bold;
  padding: 7px 30px;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
}
.btn:hover,
.btn:active {
  background: rgb(191, 231, 255);
}


.social  {
  display: grid;
  place-items: center;
}
.social > div {
  width: clamp(100px, 50vw, 500px);
  display: grid;
  align-content: center;
  justify-items: center;
  gap: 30px;
  
  text-align: center;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 1.5rem;
}
.social-links a {
  transition: all ease-in-out 0.25s;
}
.social-links a:hover,
.social-links a:active {
  color: #A13A6D;
}
.social .nav-next {
  margin-top: 30px;
}


.contact {
  display: grid;
  place-items: center;

}
.contact > div {
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contact .notice {
  background: var(--blurred-edge-background), center / cover no-repeat url('../img/bg-contact.jpg');
  display: flex;
}
.contact .notice > div {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.50);
  display: grid;
  padding: 50px 60px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  align-content: center;
}
.contact .notice > div > span {
  margin: 20px 0 50px;
}
.contact .notice h2 {
  font-family: 'Poppins Extra Light';
}

form {
  display: grid;
  justify-items: flex-start;
  padding: 50px 70px;
}
form ::placeholder {
  color: #A13A6D9C;
}
label + * {
  margin: 10px 0 20px;
}
label {
  font-size: 0.8rem;
}
label, textarea {
  width: 100%;
}
.input-group,
input:not([type="submit"]) {
  width: 70%;
}
input:not([type="submit"]), textarea {
  padding: 8px 10px;
  border: 1px solid #A13A6D;
  border-radius: 4px;
}
textarea {
  height: 200px;
}
.input-group {
  --input-icon-width: 20px;
  position: relative;
  display: flex;
  align-items: center;
}
.input-group input {
  width: 100%;
  padding: 8px calc(10px + var(--input-icon-width)) 8px 10px;
}
.input-group input + i {
  position: absolute;
  right: 10px;
  z-index: 500;
  font-size: 1.1rem;
  color: #A13A6D;
  width: var(--input-icon-width);
  text-align: center;
}


@media (max-width: 700px) {
  h1, h2 {
    font-size: 1.5rem;
  }
  p, span, a {
    font-size: 0.9rem;
  }

  .landing {
    background: none;
    grid-template-columns: none;
    grid-template-rows: 4fr 6fr;
  }
  .title {
    grid-row: 2;
    background: rgba(0, 0, 0, 1);
  }
  .media {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 15%), center / cover no-repeat url('../img/bg-landing.jpg');
  }

  
  .contact > div {
    grid-template-columns: none;
  }
  .contact .notice {
    background: center / cover no-repeat url('../img/bg-contact.jpg');
  }
  .contact .notice > div {
    justify-items: center;
    align-content: center;
    text-align: center;
    padding: 120px 50px 20px;
  }
  .contact .notice > div > span {
    margin: 20px 0 100px;
  }

  form {
    display: grid;
    justify-items: flex-start;
    padding: 80px 40px;
  }

}