@value color-shade-darker from "./../_variables.css";
@value max-content-width-half, spacing-sm, spacing-md, spacing-lg from "./../_variables.css";
@value bp-md, bp-lg from "./../_variables.css";




.bannerContent {
  composes: textTitle from "./../_shared.module.css";
  font-size: 2.5rem;
  display: grid;
  place-items: center;
}
.dividerTop {
  height: spacing-md;
}


.sideContent {
  composes: captionedMedia from "./../_shared.module.css";
  height: 400px;
}


.dividerBottom {
  display: none;
}

@media bp-md {
  .dividerTop,
  .banner {
    display: none;
  }
  .dividerBottom {
    display: block;
  }
}