.externalLinks {
  display: flex;
  align-items: center;
  gap: 20px;
}
.link {
  composes: link from "./../_shared.module.css";
  width: 20px;
  height: 20px;
}
.icon {
  width: inherit !important;
  height: inherit !important;
}