.carousel {
  --carousel-z-index: 5;
  --carousel-item-count: 3;
  --carousel-display-count: 1;
  --carousel-container-width: 100%;
  --carousel-container-height: 300px;
  --carousel-item-width: 70%;
  --carousel-scale-x: 1.15;
  --carousel-item-height: calc(var(--carousel-container-height) - 15% - 5%);
  justify-self: stretch;
  align-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(var(--carousel-item-count), var(--carousel-item-width));
  grid-auto-flow: column;
  overflow: hidden visible;
  justify-content: center;
  height: var(--carousel-container-height);
  position: relative;
  z-index: var(--carousel-z-index);
}
.carousel-item {
  position: relative;
  z-index: calc(var(--carousel-z-index) * 10);
  height: var(--carousel-item-height);
  cursor: pointer;
  transition: all 0.3s ease-out;
  background: #666;
  position: relative;

}
.carousel-item::before {
  border-radius: inherit;
  position: absolute;
  content: ' ';
  top: -1px;
  bottom: -1px;
  right: -1px;
  left: -1px;
  transition: opacity 0.3s ease-out;
  background: rgba(30, 30, 30, 0.7);
}
.carousel-item > * {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.carousel-item.selected {
  z-index: calc(var(--carousel-z-index) * 20);
  box-shadow: 1px 1px 10px 5px rgba(30, 30, 30, 0.3);
  background: #999;
  transform: scale(var(--carousel-scale-x));
}
.carousel-item.selected::before {
  opacity: 0;
}

.carousel-nav {
  position: absolute;
  z-index: calc(var(--carousel-z-index) * 30);
  align-self: center;
  justify-self: start;
  padding: 10px;
  font-size: 1.2rem;
  color: inherit;
}
.carousel-nav.next {
  justify-self: end;
}

@media (min-width: 768px) {
  .carousel {
    /* --carousel-display-count: 3; */
    /* --carousel-item-width: calc(var(--carousel-container-width) / var(--carousel-display-count)); */
    --carousel-container-height: 60vw;
  }
}