.carousel {
  --carousel-item-count: 3;
  --carousel-display-count: 1;
  --carousel-container-width: 100%;
  --carousel-container-height: 320px;
  --carousel-item-width: calc(var(--carousel-container-width) / var(--carousel-display-count));
  --carousel-scale-x: 1.15;
  --carousel-item-height: calc(var(--carousel-container-height) - 15% - 5%);
  justify-self: stretch;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(var(--carousel-item-count), var(--carousel-item-width));
  grid-auto-flow: column;
  overflow: clip visible;
  justify-content: center;
  height: var(--carousel-container-height);
}
.carousel-item {
  height: var(--carousel-item-height);
  position: relative;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background: #666;
  position: relative;
}
.carousel-item::before {
  border-radius: inherit;
  position: absolute;
  content: ' ';
  top: -2px;
  bottom: -2px;
  right: -2px;
  left: -2px;
  background-color: rgba(255, 255, 255, 0.7);
}
.carousel-item > * {
  user-select: none;
  pointer-events: none;
}
.carousel-item.selected {
  box-shadow: 1px 1px 10px 5px rgba(30, 30, 30, 0.3);
  z-index: 100;
  background: #999;
  transform: scale(var(--carousel-scale-x));
}
.carousel-item.selected::before {
  display: none;
}

@media (max-width: 700px) {
  .carousel {
    --carousel-display-count: 1;
    --carousel-item-width: 70%;
  }
}