:root {
  --color-primary: rgb(15, 51, 43);
  --color-secondary: rgb(38, 109, 92);
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-border-darker: rgb(49, 49, 49);
  --color-border-dark: rgb(100, 100, 100);

  --box-shadow: 1px 1px 5px 2px rgba(30, 30, 30, 0.6);
  --text-shadow: 1px 2px 4px rgba(30, 30, 30, 0.65);
  --transition-timing: 0.5s ease-in-out;

  
  --nav-panel-width: min(70vw, 300px);
  --nav-height: 60px;

  --border-gap: -20px;
  --border-width: 2px;
  --border-width-thin: 1px;
  --border-dark: var(--border-width) solid var(--color-border-dark);
  --border-darker: var(--border-width) solid var(--color-border-darker);
  --border-black: var(--border-width) solid var(--color-black);
  --border-dark-thin: var(--border-width-thin) solid var(--color-border-dark);
}

*, *::before, *::after {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  position: relative;
  z-index: -1;
}

.contained-img {
  position: relative;
}
.contained-img > img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.heading {
  font-family: serif;
  font-weight: 700;
  text-align: center;
}
.heading1 {
  font-size: 2.5rem;
}
.heading2 {
  font-size: 1.57rem;
}
.heading3 {

}
.heading-subtitle {
  font-size: 1.7rem;
}
.body1 {

}
.body2 {

}

.link-button {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  background: var(--color-primary);
  /* padding: 15px 30px; */
  padding: 6px 20px 5px;
  border-radius: 30px;
}
.link-button:hover {
  background: var(--color-secondary);
}


/* offset lines and shape default */
.offset-shape {
  position: relative;
}
.offset-shape::before,
.offset-shape::after {
  content: ' ';
  position: absolute;
}


/* background blur default */
.blur-auto,
.blur-target {
  position: relative;
  z-index: 20;
}
.blur-auto::after,
.blur-target > .blur-target-bg {
  content: ' ';
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  place-self: stretch;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.content {
  --content-padding-h: 10px;
  padding: 0 var(--content-padding-h);
  overflow: hidden;
  min-width: 300px;
  max-width: 375px;
  margin: 0 auto;
}



.home {
  height: 100vh;
  min-height: 500px;
  display: grid;
  grid-template-rows: auto 1fr 1fr;
}
.home > * {
  grid-column: 1;
}
.home .bg-image {
  grid-row: 1 / 4;
  position: relative;
  z-index: -1;
}
.home .bg-image img {
  transform: scale(-1, 1);
  object-position: 70%;
}

/* mobile/default nav */
.nav-container {
  position: fixed;
  z-index: 100;
  height: var(--nav-height);
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.nav-container .content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.main-nav ul {
  list-style: none;
  padding: 10px 0;
  position: fixed;
  z-index: 100000;
  top: 0;
  right: 0;
  width: var(--nav-panel-width);
  height: 100vh;
  display: grid;
  align-content: flex-start;
  justify-items: stretch;
  transform: translateX(120%);
  transition: box-shadow var(--transition-timing), transform var(--transition-timing);
  pointer-events: none;
  background: rgba(235, 235, 235, 0.95);
}
.main-nav a {
  padding: 20px 20px;
  display: flex;
  color: var(--color-black);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  pointer-events: auto;
}
.home .header-text {
  grid-row: 2;
  align-self: end;
  display: grid;
  place-items: center;
  place-content: center;
  text-align: center;
}
.home .header-text .link-button {
  margin-top: 20px;
}

/* nav toggled */
body.menu-visible {
  overflow: hidden;
  pointer-events: none;
}
.menu-visible .main-nav {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: calc(100vw - var(--nav-panel-width));
  height: 100vh;
  pointer-events: all;
}
.menu-visible .main-nav ul {
  overflow-y: scroll;
  transform: none;
  box-shadow: 0 0 200px 100px rgb(30,30,30);
}



.about {
  background: center / cover no-repeat url('../assets/images/bg-marble.jpg');
  /* scroll-margin-bottom: calc(var(--nav-height) * -1); */
}
.about .content {
  padding: 35px 20px;
}
.about .context-container {
  border: 2px solid var(--color-border-dark);
  margin-bottom: 60px;
  position: static;
}
.about .context {
  --context-border-margin: -15px;
  padding: 20px 20px;
  margin: calc(calc(var(--context-border-margin) * 2 * -1) - var(--border-width));
  display: grid;
  gap: 20px;
}
.about .context .social-icons {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 20px;
}
.about .context .social-icon {
  width: 30px;
  height: 30px;
}
/* .context bottom full-width line */
.about .context-container.offset-shape::after {
  left: 0;
  width: 100vw;
  padding-bottom: 30px;
  border-bottom: var(--border-dark-thin);
}
/* top-right & bottom-left corner lines */
.about .context.offset-shape::before,
.about .context.offset-shape::after {
  height: 50px;
  width: 50px;
}
.about .context.offset-shape::before {
  top: var(--context-border-margin);
  right: var(--context-border-margin);
  border-top: var(--border-darker);
  border-right: var(--border-darker);
}
.about .context.offset-shape::after {
  bottom: var(--context-border-margin);
  left: var(--context-border-margin);
  border-bottom: var(--border-darker);
  border-left: var(--border-darker);
}

.about .images {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  align-content: center;
  padding-bottom: 30px;
}
.about .images .img1 {
  grid-column: 1;
  grid-row: 1 / 4;
  height: 300px;
  margin-left: 15px;
}
.about .images .img1 img {
  transform: scale(-1, 1);
}
.about .images .img2 {
  grid-row: 2;
  grid-column: 1 / 3;
  align-self: center;
  justify-self: end;
  height: min(180px, 50vw);
  width: min(180px, 50vw);
  box-shadow: var(--box-shadow);
}
.about .images .img2 img {
  object-position: bottom;
}
/* top-left corner line located between the two images */
.about .images.offset-shape::before {
  grid-column: 2;
  grid-row: 3;
  align-self: start;
  margin: 8px 0 0 8px;
  width: 40px;
  height: 40px;
  border-top: var(--border-darker);
  border-left: var(--border-darker);
}
/* two vertical lines beside the left image */
.about .images .img1.offset-shape::before,
.about .images .img1.offset-shape::after {
  left: -12px;
  height: 100%;
  border-left: var(--border-dark);
}
.about .images .img1.offset-shape::after {
  left: -20px;
}
/* img2 top right corner lines */
.about .images .img2.offset-shape::after {
  width: 35px;
  height: 40px;
  top: -8px;
  right: -8px;
  border-top: var(--border-darker);
  border-right: var(--border-darker);
}
/* about bottom horizonal line */
.about.offset-shape::after {
  bottom: 30px;
  left: 0;
  right: 0;
  border-bottom: var(--border-dark-thin);
}


.parties {
  background: top / contain no-repeat url('../assets/images/bg-dinner.jpg'), center / cover no-repeat url('../assets/images/bg-marble.jpg');
  /* scroll-margin-bottom: -350px; */
}
.parties .content {
  padding: 75px 40px 40px;
  display: grid;
  gap: 15px;
}
.parties .header-container {
  display: grid;
  place-items: center;
  margin-bottom: 20px;
}
.parties .header-container .heading {
  padding: 20px 15px;
}
.parties .header-container .blur-target-bg {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.parties article {
  text-align: center;
  padding: 30px 10px 40px;
}
.parties article p {
  margin: 10px 0 40px;
}
/* top left & bottom right corner lines */
.parties .header-container.offset-shape::before,
.parties .header-container.offset-shape::after {
  z-index: 50;
  width: 40px;
  height: 40px;
}
.parties .header-container.offset-shape::before {
  left: 10px;
  top: 10px;
  border-top: var(--border-darker);
  border-left:  var(--border-darker);
}
.parties .header-container.offset-shape::after {
  bottom: 10px;
  right: 10px;
  border-bottom: var(--border-darker);
  border-right: var(--border-darker);
}


.food {
  background: center / cover no-repeat url('../assets/images/bg-marble.jpg');
  padding-bottom: 40px;
}

.food .content {
  padding: 50px 15px 60px;
  /* border-top: var(--border-dark);
  border-bottom: var(--border-dark); */
  display: grid;
}
/* food top & bottom horizonal line */
.food.offset-shape::before,
.food.offset-shape::after {
  left: 0;
  right: 0;
}
.food.offset-shape::before {
  top: 30px;
  border-top: var(--border-dark-thin);
}
.food.offset-shape::after {
  bottom: 30px;
  border-bottom: var(--border-dark-thin);
}
/* two lines below the carousel */
.food .content.offset-shape::before,
.food .content.offset-shape::after {
  justify-self: center;
  bottom: 50px;
  width: 70%;
  border-color: var(--color-border-dark);
  border-bottom: var(--border-dark);
}
.food .content.offset-shape::after {
  bottom: 40px;
}
.food .image-grid {
  display: none;
}
.food .carousel {
  color: var(--color-white)
}


.booking {
  background: center / cover no-repeat url('../assets/images/bg-wood.jpg');
}
.booking .content {
  padding: 60px 20px 40px;
}
.booking .images {
  display: grid;
  grid-template-columns: 6.5fr 3.5fr;
  grid-template-rows: 1fr auto 1fr;
}
.booking .images .img1 {
  grid-row: 1 / 4;
  grid-column: 1;
  height: 350px;
  padding-top: 30px;
  margin-bottom: 50px;
}
.booking .images .img2 {
  grid-row: 2;
  grid-column: 1 / 3;
  align-self: center;
  justify-self: end;
  
  height: min(150px, 40vw);
  width: min(150px, 40vw);
  box-shadow: var(--box-shadow);
}
.booking .context {
  --booking-context-margin-top: 30px;
  margin-top: var(--booking-context-margin-top);
  padding: 20px 30px;
  text-align: center;
}
.booking .context.blur-auto::after {
  background: rgba(200, 200, 200, 0.3);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}
.booking p {
  margin: 10px 0 20px;
}
.booking form {
  display: grid;
  justify-items: start;
  gap: 15px;
}
.booking input[type="text"],
.booking textarea {
  border: var(--border-black);
  padding: 5px;
}
.booking textarea {
  justify-self: stretch;
  height: 100px;
  resize: none;
}
.booking > .blur-auto {
  display: none;
}

/* full-width horizonal line above .context */
.booking .context.offset-shape::before {
  margin-top: calc(var(--booking-context-margin-top) * -1);
  top: 0;
  left: -20px;
  right: -20px;
  border-top: var(--border-black);
}

/* 2x bottom-left corner lines located between the two images  */
.booking .images.offset-shape::before,
.booking .images.offset-shape::after {
  grid-column: 2;
  grid-row: 1 / 2;
  align-self: end;
  border-bottom: var(--border-black);
  border-left: var(--border-black);
}
/* > outer corner */
.booking .images.offset-shape::before {
  top: 15px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 0 20px 15px;
}
/* > inner corner */
.booking .images.offset-shape::after {
  width: 40%;
  height: 35%;
  margin: 0 0 29px 25px;
}
/* 2x horizontal lines above the left image  */
.booking .images .img1.offset-shape::before,
.booking .images .img1.offset-shape::after {
  top: 0;
  right: -15px;
  width: 60%;
  border-top: var(--border-black);
}
/* > inner line */
.booking .images .img1.offset-shape::after {
  top: 15px;
  width: 50%;
}



@media (min-width: 768px) {
  .content {
    min-width: unset;
    max-width: unset;
  }
  .nav-container .content,
  .section .content {
    padding-left: 10vw;
    padding-right: 10vw;
    max-width: 1200px;
  }

  .about .images .img1,
  .booking .images .img1 {
    height: 70vw;
    padding-top: 30px;
    margin-bottom: 50px;
  }
  .about .images .img2,
  .booking .images .img2 {
    height: 40vw;
    width: 40vw;
  }
}

@media (min-width: 1024px) {
  .heading1 {
    font-size: 3rem;
  }
  .heading2 {
    font-size: 2.5rem;
  }
  .heading3 {
    font-size: 2rem;
  }

  
  .section {
    height: 100vh;
    min-height: 700px;
  }
  .section .content {
    height: 100%;
    padding: calc(5vh + var(--nav-height)) 5vh 5vw;
  }

  
  .link-button {
    padding: 15px 30px;
  }


  .nav-toggle {
    display: none;
  }
  .main-nav ul {
    position: static;
    transform: none;
    grid-auto-flow: column;
    align-content: center;
    gap: 25px;
    
    width: unset;
    height: 100%;
    padding: 0;
    background: none;
  }
  .main-nav a {
    display: flex;
    padding: 0 0 2px;
    font-size: 1rem;
    font-weight: 700;
    font-stretch: condensed;
  }

  .home {
    grid-template-rows: var(--nav-height) 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  .home .header-text {
    grid-column: 1 / 3;
    place-self: center;
    place-items: center;
  }



  .about .content {
    padding: 5vh 10vw;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px
  }
  .about .context-container {
    margin: 0;
    position: relative;
  }
  .about .context-container .context {
    margin: 15px;
    border: var(--border-width) solid rgba(200, 200, 200, 0.5);
  }
  .about .images {
    display: flex;
    padding: 0;
  }
  .about .images .img1 {
    padding: 0;
    margin: 0;
    height: 70vh;
  }
  .about .images .img2 {
    display: none;
  }
  .about .offset-shape::before,
  .about .offset-shape::after {
    padding: 0;
    margin: 0;
    display: none;
  }
  .about .context-container {
    margin: 0;
  }

  /* about context top-right corner line */
  .about .context-container.offset-shape::before {
    display: inline-block;
    width: 30%;
    height: 100%;
    top: -24px;
    right: -24px;
    border-top: var(--border-dark);
    border-right: var(--border-dark);
  }
  /* img1 outer bottom-left corner line */
  .about .images.offset-shape::before {
    margin: 0;
    display: inline-block;
    width: 50%;
    height: 90%;
    border-top: none;
    border-bottom: var(--border-dark);
    border-left: var(--border-dark);
    left: -40px;
    bottom: -40px;
  }
  /* img1 inner corner lines */
  .about .images .img1.offset-shape::before,
  .about .images .img1.offset-shape::after {
    --about-img2-inner-corner-margin: -20px;
    display: inline-block;
    width: 20%;
    height: 15%;
    left: unset;
    border-left: unset;
  }
  /* top-right corner */
  .about .images .img1.offset-shape::before {
    border-top: var(--border-darker);
    border-right: var(--border-darker);
    top: var(--about-img2-inner-corner-margin);
    right: var(--about-img2-inner-corner-margin);
  }
  /* bottom-left corner */
  .about .images .img1.offset-shape::after {
    border-bottom: var(--border-darker);
    border-left: var(--border-darker);
    bottom: var(--about-img2-inner-corner-margin);
    left: var(--about-img2-inner-corner-margin);
  }


  .parties {
    background: center / cover no-repeat url('../assets/images/bg-dinner.jpg');
  }
  .parties .content {
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    gap: 30px
  }
  .parties .header-container {
    grid-column: 1 / 4;
    justify-self: center;
  }
  .parties .header-container .heading {
    padding: 20px 60px;
    border: 1px solid var(--color-black);
    margin: 20px;
  }
  .parties .blur-auto::after,
  .parties .blur-target-bg {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  .parties article {
    padding: 40px 30px 60px;
  }
  .parties article p {
    margin: 20px 0 50px;
  }

  .parties .header-container.offset-shape::before,
  .parties .header-container.offset-shape::after {
    width: 15%;
    height: 45%;
  }
  .parties .header-container.offset-shape::before {
    left: unset;
    border-left: unset;
    top: 10px;
    right: 10px;
    border-top: var(--border-darker);
    border-right:  var(--border-darker);
  }
  .parties .header-container.offset-shape::after {
    right: unset;
    border-right: unset;
    bottom: 10px;
    left: 10px;
    border-bottom: var(--border-darker);
    border-left: var(--border-darker);
  }

  .food {
    padding: 25px 0;
  }
  .food .content {
    padding-top: 5vh;
    grid-template-rows: auto 1fr;
  }
  .food .carousel {
    display: none;
  }
  .food .image-grid {
    margin: 40px 30px 0;
    display: grid;
    gap: 20px;
    grid-template: 
    "a a d" .8fr
    "a a e" .2fr
    "b c e" .8fr / 1fr 1fr 2fr;
  }
  .image-grid .img1 {
    grid-area: a;
    background: black;
  }  
  .image-grid .img2 {
    grid-area: b;
    background: black;
  }  
  .image-grid .img3 {
    grid-area: c;
    background: black;
  }  
  .image-grid .img4 {
    grid-area: d;
    background: black;
  }  
  .image-grid .img5 {
    grid-area: e;
    background: black;
  }

  /* remove .carousel bottom lines */
  .food .content.offset-shape::before,
  .food .content.offset-shape::after {
    content: none;
  }
  /* .image-grid corner lines */
  .food .image-grid.offset-shape::before,
  .food .image-grid.offset-shape::after {
    height: 15%;
    width: 8%;
  }
  /* top-right corner */
  .food .image-grid.offset-shape::before {
    top: -20px;
    right: -20px;
    border-top: var(--border-darker);
    border-right: var(--border-darker);
  }
  /* bottom-left corner */
  .food .image-grid.offset-shape::after {
    bottom: -20px;
    left: -20px;
    border-bottom: var(--border-darker);
    border-left: var(--border-darker);
  }

  .booking {
    display: grid;
    grid-template-rows: 9fr 1fr;
    gap: 3vh
  }
  .booking .content {
    padding-bottom: 0;
    padding-top: 0;
    display: grid;
    grid-template-columns: 4.8fr 5.2fr;
  }
  .booking .images {
    display: block;
  }
  .booking .images .img1 {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .booking .images .img1 img {
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .booking .context {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    /* margin-top: var(--nav-height); */
    padding: 40px;
    text-align: left;
  }
  .booking .context .heading {
    text-align: inherit;
  }
  .booking input[type="text"],
  .booking textarea {
    border: var(--border-black);
    padding: 15px 10px;
  }
  .booking input[type="text"] {
    width: 70%;
  }
  .booking textarea {
    height: 150px;
  }

  .booking > .blur-auto {
    grid-row: 2;
    display: block;
  }
  .booking > .blur-auto::after {
    background: rgba(255, 255, 255, 0.15);
  }
  .booking .images .img2,
  .booking .context::before,
  .booking .images .img1.offset-shape::before,
  .booking .images .img1.offset-shape::after,
  .booking .images.offset-shape::before,
  .booking .images.offset-shape::after {
    display: none;
  }
}

@media (min-width: 1200px) {

}