:root {
  --color-primary: rgb(15, 51, 43);
  --color-secondary: rgb(38, 109, 92);
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-border-darker: rgb(49, 49, 49);
  --color-border-dark: rgb(100, 100, 100);

  --box-shadow: 1px 1px 5px 2px rgba(30, 30, 30, 0.6);
  --text-shadow: 1px 2px 4px rgba(30, 30, 30, 0.65);
  --transition-timing: 0.5s ease-in-out;

  
  --nav-panel-width: min(70vw, 300px);
  --nav-height: 60px;

  --border-gap: -20px;
  --border-width: 2px;
  --border-dark: var(--border-width) solid var(--color-border-dark);
  --border-darker: var(--border-width) solid var(--color-border-darker);
}

*, *::before, *::after {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  position: relative;
  z-index: -1;
}

.heading {
  font-family: serif;
  font-weight: 700;
  text-align: center;
}
.heading1 {
  font-size: 2.5rem;
}
.heading2 {
  font-size: 1.57rem;
}
.heading3 {

}
.heading-subtitle {
  font-size: 1.7rem;
}
.body1 {

}
.body2 {

}

.link-button {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  background: var(--color-primary);
  /* padding: 15px 30px; */
  padding: 6px 20px 5px;
  border-radius: 30px;
}
.link-button:hover {
  background: var(--color-secondary);
}


/* offset lines and shape default */
.offset-shape {
  position: relative;
}
.offset-shape::before,
.offset-shape::after {
  content: ' ';
  position: absolute;
}


/* background blur default */
.blur-auto,
.blur-target {
  position: relative;
  z-index: 20;
}
.blur-auto::after,
.blur-target > .blur-target-bg {
  content: ' ';
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  place-self: stretch;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
}


.content {
  --content-padding-h: 10px;
  padding: 0 var(--content-padding-h);
  overflow: hidden;
  max-width: 375px;
  margin: 0 auto;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

header {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}
header * {
  grid-column: 1;
}
header .bg-image {
  grid-row: 1 / 3;
  position: relative;
  z-index: -1;
}
header .bg-image img {
  transform: scale(-1, 1);
  object-position: 70%;
}

/* mobile/default nav */
.nav-container {
  position: fixed;
  z-index: 100;
  height: var(--nav-height);
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}
.nav-container .content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.main-nav ul {
  list-style: none;
  padding: 10px 0;
  position: fixed;
  z-index: 100000;
  top: 0;
  right: 0;
  width: var(--nav-panel-width);
  height: 100vh;
  display: grid;
  align-content: flex-start;
  justify-items: stretch;
  transform: translateX(120%);
  transition: box-shadow var(--transition-timing), transform var(--transition-timing);
  pointer-events: none;
  background: rgba(235, 235, 235, 0.95);
}
.main-nav a {
  padding: 20px 20px;
  display: flex;
  color: var(--color-black);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  pointer-events: auto;
}
.header-text {
  grid-row: 2;
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
}
.header-text .link-button {
  margin-top: 20px;
}

/* nav toggled */
body.menu-visible {
  overflow: hidden;
  pointer-events: none;
}
.menu-visible .main-nav {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: calc(100vw - var(--nav-panel-width));
  height: 100vh;
  pointer-events: all;
}
.menu-visible .main-nav ul {
  overflow-y: scroll;
  transform: none;
  box-shadow: 0 0 200px 100px rgb(30,30,30);
}



.about {
  background: center / cover no-repeat url('../assets/images/bg-marble.jpg');
  scroll-margin-bottom: calc(var(--nav-height) * -1);
}
.about .content {
  padding: 35px 20px;
}
.about .context-container {
  border: 2px solid var(--color-border-dark);
  margin-bottom: 60px;
  position: static;
}
/* context bottom full-width line */
.about .context-container.offset-shape::after {
  left: 0;
  width: 100vw;
  padding-bottom: 30px;
  border-bottom: var(--border-dark);
}

.about .context {
  --context-border-margin: -15px;
  padding: 20px 20px;
  margin: calc(calc(var(--context-border-margin) * 2 * -1) - var(--border-width));
  /* background: rgba(255, 255, 255, 0.5); */

  display: grid;
  gap: 20px;
}
.about .context .social-icons {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 15px;
}
.about .context .social-icon {
  width: 30px;
  height: 30px;
}
/* top-right & bottom-left corner lines */
.about .context.offset-shape::before,
.about .context.offset-shape::after {
  height: 50px;
  width: 50px;
}
.about .context.offset-shape::before {
  top: var(--context-border-margin);
  right: var(--context-border-margin);
  border-top: var(--border-darker);
  border-right: var(--border-darker);
}
.about .context.offset-shape::after {
  bottom: var(--context-border-margin);
  left: var(--context-border-margin);
  border-bottom: var(--border-darker);
  border-left: var(--border-darker);
}

.about .images {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  align-content: center;
  padding-bottom: 30px;
}
/* line shape located at the bottom between the two images */
.about .images.offset-shape::before {
  /* position: static; */
  grid-column: 2;
  grid-row: 3;
  align-self: start;
  margin: 8px 0 0 8px;
  width: 40px;
  height: 40px;
  border-top: var(--border-darker);
  border-left: var(--border-darker);
}
/* images bottom full-width line */
.about .images.offset-shape::after {
  left: -20px;
  bottom: 0;
  width: 100vw;
  border-bottom: var(--border-dark);
}
.about .images .img1 {
  grid-row: 1 / 4;
  height: 300px;
  margin-left: 15px;
}
/* two full-height lines beside the left image */
.about .images .img1.offset-shape::before,
.about .images .img1.offset-shape::after {
  left: -12px;
  height: 100%;
  border-left: var(--border-dark);
}
.about .images .img1.offset-shape::after {
  left: -20px;
}
.about .images .img1 img {
  transform: scale(-1, 1);
}

.about .images .img2 {
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  justify-self: end;
  height: 170px;
  width: 170px;
  box-shadow: var(--box-shadow);
}
.about .images .img2.offset-shape::after {
  width: 35px;
  height: 40px;
  top: -8px;
  right: -8px;
  border-top: var(--border-darker);
  border-right: var(--border-darker);
}
.about .images .img2 img {
  object-position: bottom;
}



.parties {
  background: top / contain no-repeat url('../assets/images/bg-dinner.jpg'), center / cover no-repeat url('../assets/images/bg-marble.jpg');
  scroll-margin-bottom: -350px;
}
.parties .content {
  padding: 80px 40px 40px;
  display: grid;
  gap: 15px;
}
.parties .header-container {
  display: grid;
  place-items: center;
  margin-bottom: 20px;
}
.parties .header-container > *{
  grid-row: 1;
  grid-column: 1;
  position: relative;
  padding: 20px 10px;
}
.parties .header-container .blur-target-bg {
  backdrop-filter: blur(5px);
}
.parties .header-container.offset-shape::before,
.parties .header-container.offset-shape::after {
  z-index: 50;
  width: 40px;
  height: 40px;
}
.parties .header-container.offset-shape::before {
  left: 10px;
  top: 10px;
  border-top: var(--border-dark);
  border-left:  var(--border-dark);
}
.parties .header-container.offset-shape::after {
  bottom: 10px;
  right: 10px;
  border-bottom: var(--border-dark);
  border-right: var(--border-dark);
}
.parties article {
  text-align: center;
  padding: 30px 10px 40px;
}
.parties article p {
  margin: 10px 0 40px;
}


.food {
  background: center / cover no-repeat url('../assets/images/bg-marble.jpg');
  padding-bottom: 40px;
}
.food .content {
  padding: 50px 15px 60px;
  border-top: var(--border-dark);
  border-bottom: var(--border-dark);
  display: grid;
}
.food .content.offset-shape::before,
.food .content.offset-shape::after {
  justify-self: center;
  bottom: 50px;
  width: 70%;
  border-color: var(--color-border-dark);
  border-bottom: var(--border-dark);
}
.food .content.offset-shape::after {
  bottom: 40px;
}
.food .carousel {
  color: var(--color-white)
}



@media (min-width: 768px) {

}

@media (min-width: 1024px) {
  
}

@media (min-width: 1200px) {

}